{% extends "home/base.html" %}
{% load static %}

{% block placeholder %}
  <h1>Your shopping cart</h1>
  <div>
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.cart.values %}

        {% with product=item %}
          <tr>
            <td>
              <a href="{{ product.product_id }}">
                <img width="50px" height="50px" src="{% if product.product_image %}{% static product.product_image %}{% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.product_name }}</td>
            <td>
{#              <form action="{% url "cart:cart_add" product.product_id %}" method="post">#}
{#                {{ item.update_quantity_form.quantity }}#}
{#                {{ item.update_quantity_form.update }}#}
{#                <input type="submit" value="Update">#}
{#                {% csrf_token %}#}
{#              </form>#}
                {{ item.quantity }}
            </td>
            <td><a href="{% url "cart:cart_remove" product.product_id %}">Remove</a></td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>

  <p class="text-right">
{#    <a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>#}
    <a href="#" class="button">Checkout</a>
  </p>

{% endblock %}